body {
  text-align:center;
  font-family:Helvetica;
}
.header {
  background-image:url('../images/the-flatiron-building.png');
  height:297px;
  background-size:100%
  background-repeat: no-repeat;
}

.locale {
    background-image:url('../images/the-flatiron-building.png');
}

.footer {
    background-image:url('../images/the-flatiron-building.png');
}
