body {
  text-align:center;
  font-family:Helvetica;
}
.header {
  background-image:url('../images/the-flatiron-building.png');
  height:297px;
  background-size:100%;
  background-repeat: no-repeat;
}

a {
  color: white;
}

h1 {
  font-size:70px;
  font-weight:bold;
  color:white;
}

h2 {
  font-size:32px;
  font-weight:bold;
}

h3 {
  font-size:23px;
  font-weight:bold;
}
p {
  font-size:14px;
}
ul {
  list-style:none;
}
.locale {
    background-image:url('../images/the-flatiron-building.png');
    color:white;
}

.footer {
    background-color:dimgray;
    color:white;
    font-size:11px;
}
